<tr class="mail-<%=email.id%>">
 <td><%= link_to(email.object, email_path(email.id), method: :get, remote: true) %></td>

  <td><%= link_to(email.body, email_path(email.id), method: :get, remote: true) %></td>
</tr>